.App {
  text-align: center;
}



@media only screen and (min-width: 435px ) {

  body{

    margin: 0%;
    padding: 0%;
  }
  .App{

  width: 100%;
  }
 .nav {

  
  margin: 0;
padding: 0;
float: left;
width: 250px;
height: 100vh;
position: fixed;
border-right: 1px black solid;


 }
 .nav a{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  padding-bottom:1rem ;


 }
}